:root {
    --font-family: "Roboto", sans-serif;
    
    --c-white: #fff;
    --c-black: #000;
    --c-icon: #8B97A8;
    --c-main-text: #595085;
    --c-bg-blue: #f6f5fb;
    --c-bg-red: #fff4f4;
    --c-bg-green: #f5f9f9;
    --c-bg-pink: #fdf9fb;
}